################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CracowZoo/CracowZoo/CracowZoo/obj
/CracowZoo/CracowZoo/CracowZoo.Android/obj
/CracowZoo/CracowZoo/CracowZoo.iOS/obj
/CracowZoo/CracowZoo/CracowZoo.Core/obj
/CracowZoo/CracowZoo/CracowZoo/bin
/CracowZoo/CracowZoo/CracowZoo.Android/bin
/CracowZoo/CracowZoo/CracowZoo.iOS/bin
/CracowZoo/CracowZoo/CracowZoo.Core/bin
/CracowZoo/.vs/CracowZoo/v15
/CracowZoo/.vs/CracowZoo/DesignTimeBuild/.dtbcache
/CracowZoo/CracowZoo/CracowZoo.DataAccess/obj
/CracowZoo/CracowZoo/CracowZoo.DataAccess/bin
/CracowZoo/CracowZoo/CracowZoo.Android/Properties/AndroidManifest.xml
/CracowZoo/CracowZoo/CracowZoo.Data/bin/Debug/netstandard2.0
/CracowZoo/CracowZoo/CracowZoo.Data/obj
/CracowZoo/CracowZoo/CracowZoo.PlatformCore/bin/Debug/netstandard2.0
/CracowZoo/CracowZoo/CracowZoo.PlatformCore/obj
/.vs/CracowZoo/v16
/.vs
CracowZoo/.vs/CracowZoo/v16/.suo
